<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Compose"
        tools:targetApi="31">
        <activity
            android:name=".demos.sideeffect.demos.produceState.ProduceStateActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Compose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demos.imageCard.ImageCardActivity"/>
        <activity android:name=".demos.stylingText.StylingTextActivity"/>
        <activity android:name=".demos.state.StateActivity"/>
        <activity android:name=".demos.simpleform.SimpleFormActivity"/>
        <activity android:name=".demos.list.ListActivity"/>
        <activity android:name=".demos.constraintLayout.ConstraintLayoutActivity"/>
        <activity android:name=".demos.sideeffect.SideEffectSelectionActivity"/>
        <activity android:name=".demos.sideeffect.demos.disposableEffect.DisposableEffectActivity"/>
        <activity android:name=".demos.sideeffect.demos.launchedEffect.LaunchedEffectActivity"/>
        <activity android:name=".demos.sideeffect.demos.rememberCoroutineScope.RememberCoroutineScopeActivity"/>
        <activity android:name=".demos.sideeffect.demos.rememberUpdatedState.RememberUpdatedStateActivity"/>
        <activity android:name=".demos.sideeffect.demos.sideEffect.SideEffectActivity"/>

    </application>

</manifest>