<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.code">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code">

        <activity
            android:name=".SelectionScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Code.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Simple Selection -->
        <activity android:name=".demos.simpleSamples.helloWorld.HelloWorldActivity" />
        <activity android:name=".demos.simpleSamples.decouplingComposable.DecoupledComposable" />
        <activity android:name=".demos.simpleSamples.buttonComposable.ButtonComposable" />
        <activity android:name=".demos.simpleSamples.modifiers.ModifiersActivity" />
        <activity android:name=".demos.simpleSamples.applyingStyle.ApplyStyleActivity" />
        <activity android:name=".demos.simpleSamples.surfaceComposable.SurfaceComposableActivity" />
        <activity android:name=".demos.simpleSamples.wrappingContentComposable.WrapComposableActivity" />
        <activity android:name=".demos.simpleSamples.aligningComposable.AlignComposableActivity" />
        <activity android:name=".demos.simpleSamples.multipleComposable.MultipleComposableActivity" />
        <activity android:name=".demos.simpleSamples.reusingComposable.ReusingComposableActivity" />
        <activity android:name=".demos.simpleSamples.arrangeAlignComposable.ArrangeAlignComposableActivity" />
        <activity android:name=".demos.simpleSamples.nestViewsComposable.NestViewComposableActivity" />
        <activity android:name=".demos.simpleSamples.displayDynamicData.DynamicDataList" />
        <activity android:name=".demos.statesSamples.updateState.UpdatingState" />
        <activity android:name=".demos.statesSamples.rememberDemo.RememberDemo" />
        <activity android:name=".demos.statesSamples.updateTimer.UpdateTimer" />
        <activity android:name=".demos.statesSamples.stateHoisting.HoistingStateDemo" />
        <activity android:name=".demos.statesSamples.textFieldDemo.DemoTextField" />
        <activity android:name=".demos.statesSamples.viewModelDemo.ViewModelDemo" />
        <!-- Simple Selection -->

        <!-- Widget Demo Selection -->
        <activity android:name=".demos.widgetSamples.RowsAndColumnsActivity" />
        <activity android:name=".demos.widgetSamples.SpacerWidgetDemoActivity" />
        <!-- Widget Demo Selection -->

        <!-- Modifier Demo Selection -->
        <activity android:name=".demos.modifierSamples.ModifierSampleOneActivity"/>
        <!-- Modifier Demo Selection -->


        <!-- Selection Screens -->
        <activity
            android:name=".WidgetsSelection"
            android:label="@string/widget_demos" />
        <activity
            android:name=".SampleSelection"
            android:label="@string/sel_simple_sample" />
        <activity
            android:name=".ModifierSelection"
            android:label="@string/title_activity_modifier_selection_demo_screen"/>
        <!-- Selection Screens -->

    </application>

</manifest>